@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:wght@300&family=Titillium+Web:ital,wght@0,300;0,600;1,400&display=swap');
@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
/* font-family: 'Pixelify Sans', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'Pixelify Sans', sans-serif;
    
    /* border: solid thin red; */
}

body{
    min-height: 100vh;
    background-color: #7d4fa8a4;
    
}

/* barra de navegacion */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: /* #391758*/ transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Pixelify Sans', sans-serif;
}


.navbar a {
    position: relative;
    font-size: 15px;
    color: #fff;
    margin-left: 20px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Pixelify Sans', sans-serif;
    position: relative; 
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s ;
}

.navbar a:hover::before{
    width: 100%;

}




/* Imagenes */

.games{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* height: 100vh; */
    padding-top: 150px;
    font-family: "Roboto", sans-serif;
    transition: 0.25s;
}


body .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}

body .options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option:nth-child(1) {
    --defaultBackground: #ed5565;
}
.option:nth-child(2) {
    --defaultBackground: #5d9cec;
}
.option:nth-child(3) {
    --defaultBackground: #2ecc71;
}
.option:nth-child(4) {
    --defaultBackground: #1e623a;
}
.option:nth-child(5) {
    --defaultBackground: #5d9cec;
}
.option:nth-child(6) {
    --defaultBackground: #ac92ec;
}

.option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
}

.option.active .label {
    bottom: 20px;
    left: 20px;
}
.option.active .label .info > div {
    left: 0px;
    opacity: 1;
}
.option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
}

.option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}
.option:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
}

.label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

/* About us */
.container-aboutus{
    padding-top: 120px;
    

}

.titulos{
    font-size: 48px;
    padding: 10px 20px;
}

.text-sobrenosotros{
    font-family:'Titillium Web';
    font-weight: 600;
    text-indent: 10px;
    text-align: left;
    width: 35%;
    padding: 10px 20px;

}

.titulo-nm{
    font-size: 30px;
    padding: 10px 20px;
    text-align: right;
}

.container-nm{
    display: flex;
    justify-content: end;
}


.text-nuestramision{
    font-family:'Titillium Web';
    font-weight: 600;
    text-indent: 10px;
    text-align: right;
    width: 35%;
    padding: 10px 20px;
}





















/* Productos o Personajes*/

.card-products-container{
    margin: 5vh auto;

}
.card-products{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card-products h2{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 35px;
    color: black;

}

.card-products img{
    margin-top: 40px;
    width: 250px;
    height: 250px;

}
.card-products button{
    border: none;
    outline: 0;
    padding: 10px;
    color:white;
    background-color: rgb(57, 23, 88);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    transition: 0.3s;
    font-family: 'Pixelify Sans', sans-serif;
}

.card-products button:hover{
    transform: scale(1.2);
}

.price{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;

}

.cart-btn{
    position: fixed;
    top: 90vh;
    right: 40px;
    background-color: rgb(25, 25, 25);
    padding: 10px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    transition: transform 0.2 ease-in-out;
}

.cart-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.cart-counter{
    display: none;
    position: fixed;
    top: 89vh;
    right: 27px;
    color: #ffff;
    text-align: center;
    background-color: #ed3434;
    padding: 4px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 15px;
}

.btn-primary{
    background-color:rgb(57, 23, 88);
    border-color: rgb(57, 23, 88);
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 16px;
    text-transform: uppercase;
    transition: background-color 0.3 ease;
    cursor: pointer;
}

.btn-primary:hover{
    background-color:rgb(57, 23, 88);
    border-color: rgb(57, 23, 88);
}

#button-checkout{
    z-index: 10;
}




/* Modal */

.modal-overlay{
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-container{
    display: none;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 1;
    max-height: 80vh;
    overflow-y:auto;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-close{
    float: right;
    cursor: pointer;
}

.modal-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
}

/* Body */
.modal-body{
    margin-bottom:20px ;
    text-align: center;
}

.personaje{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.personaje-img{
    height: 80px;
    margin-right: 20px;
    width: 80px;
}

.personaje-info{
    flex: 1;
    text-align: left;
}

.personaje-info h4{
    margin-top: 35px;

}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 4em;
}

.quantity-btn-decrease,
.quantity-btn-increase{
color: #333333;
font-size: 16px;
padding: 10 10px;
text-align: center;
width: 50px;
font-weight: bold;
}










/* Inicio/Registro de sesiones */
.section-container{
    /* background-color: #c9d6ff; */
    background-color: #52257c;
    background: linear-gradient(to right, #e2e2e2, #52257c);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #52257c;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #391758;
    height: 100%;
    background: linear-gradient(to right, #52257c, #391758);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}
































@media only screen and (max-width:500px){
    .personaje-img{
        display: none;
    }
    .modal-body{
        margin-left:5px;
        margin-right: 5px;
    }
}

.price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.delete-personaje{
    margin-top: 20px;
    margin-left: 2em;
    cursor: pointer;
}

.modal-footer{
    text-align: center;
}

.total-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;

}

